@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.header .logo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header .logo img {
    width: 150px;
}

.header .logo p {
    font-size: 9pt;
    margin-left: 20px;
}

.titleContainer {
    margin-top: 10px;
    width: 100%;
    font-size: 8pt;
    text-align: center;
    border-bottom: 1px solid #000;
}

.body {
    margin-top: 40px;
    padding: 0 20px;
    font-size: 11pt;
}

.body .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.body .text {
    line-height: 2;
    text-align: justify;
}