* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
    font-size: 9.5pt;
    font-weight: bold;
}

body {
    width: 100%;
    margin: 0;
}

@page {
    size: A4;
    margin: 0;
}

.container {
    width: 8.5in;
    height: 5.5in;
    padding: 5px;
}

.title h2 {
    font-size: 16pt;
}

.title p {
    font-size: 9pt;
    text-decoration: underline;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

.datosMonetarios {
    margin-bottom: 40px;
}

.datosMonetarios th,
.datosMonetarios td {
    text-align: left;
}

th.section-title {
    text-align: center;
}

.datosEmpresa,
.datosEmpleado {
    margin-bottom: 10px;
}

.section-title {
    background-color: #D0F2BF;
    font-weight: bold;
    text-align: center;
}

.no-border {
    border: none;
}

.firma th,
.firma td {
    border: none;
}

.break {
    page-break-after: always;
}