@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header .logo img {
    width: 150px;
}

.header .titleContainer {
    width: 100%;
}

.header .titleContainer h1 {
    width: fit-content;
    margin: 0 0 0 10%;
    text-align: center;
    font-size: 15pt;
    border-bottom: 2px solid #000;
}

table {
    margin-top: 40px;
    border: 1px solid #000;
    font-family: sans-serif;
}

table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 8pt;
}

table td {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 8pt;
}

.comments {
    font-family: sans-serif;
    font-size: 9pt;
}

.signature {
    justify-content: space-between;
    display: flex;
    margin-top: 120px;
    padding: 0 40px;
    font-family: sans-serif;
}

.signature .employeeSignature,
.signature .rhSignature {
    font-size: 9pt;
    text-align: center;
}